@(route: models.ui.Route, isAdmin: Boolean)(implicit lang: Lang)

@import controls.color
@import controls.categories

@common(route.title + " " + Messages("views.route.index.at") + " " + route.d.gym.name, route.d.note, lang,
    ogImageUrl = route.photoUrl, gymName = Some(route.d.gym.name), gymHandle = Some(route.d.gym.handle)){
<div class="container" id="route">
    <h1>
        @color(route.color)
        @route.title
    </h1>
    <div class="routedesc">
        <span class="routenote">
            @route.d.note (@route.days @Messages("views.route.index.days"))
        </span>
        @categories(route.categories, route.days)
    </div>
    <div id="flags">
        @for(flag <- route.d.flags) {
        <button id="@flag.id" type="button" class="btn btn-default">
            @com.jugjane.common.Messages.Models.flag(flag.id) <span class="flagCount">(@flag.counter)</span>
            <span class="glyphicon glyphicon-ok" style="display: none"></span>
        </button>
        }
    </div>

    @if(isAdmin) {
    <div id="admincontainer">
        <button id="deleteRoute" type="button" class="btn btn-default">
            @Messages("views.route.index.deleteButton")
        </button>
        <div id="reallyDelete" style="display: none">
            @Messages("views.route.index.reallyDelete")
            <button id="yesDelete" type="button" class="btn btn-danger">
                @Messages("views.route.index.yesDelete")</button>
            <button id="noDelete" type="button" class="btn">
                @Messages("views.route.index.noDelete")
            </button>
        </div>
    </div>
    }

    @if(route.photoUrl.isDefined) {
    <div class="row">
        <img id="routephoto" src="@route.photoUrl.get" class="col-xs-12" style="max-width: 800px">
    </div>
    }
</div>
<script>
    window.gymHandle = '@route.d.gym.handle'
    window.routeId = '@route.d.id'
</script>
}

@ga()