@(route: models.ui.Route, isAdmin: Boolean)

@import controls.color
@import controls.categories

@common(route.title + " at " + route.d.gym.name, route.d.note,
    ogImageUrl = route.photoUrl, gymName = Some(route.d.gym.name), gymHandle = Some(route.d.gym.handle)){
<div class="container" id="route">
    <h1>
        @color(route.color)
        @route.title
    </h1>
    <div class="routedesc">
        <span class="routenote">
            @route.d.note (@route.days days)
        </span>
        @categories(route.categories, route.days)
    </div>
    <div id="flags">
        @for(flag <- route.d.flags) {
        <button id="@flag.id" type="button" class="btn btn-default">
            @flag.name <span class="flagCount">(@flag.counter)</span>
            <span class="glyphicon glyphicon-ok" style="display: none"></span>
        </button>
        }
    </div>

    @if(isAdmin) {
    <div id="admincontainer">
        <button id="deleteRoute" type="button" class="btn btn-default">Delete</button>
        <div id="reallyDelete" style="display: none">
            Do you really want to delete this?
            <button id="yesDelete" type="button" class="btn btn-danger">Yes, delete it!</button>
            <button id="noDelete" type="button" class="btn">No</button>
        </div>
    </div>
    }

    @if(route.photoUrl.isDefined) {
    <div class="row">
        <img id="routephoto" src="@route.photoUrl.get" class="col-xs-12" style="max-width: 800px">
    </div>
    }
</div>
<script>
    window.gymHandle = '@route.d.gym.handle'
    window.routeId = '@route.d.id'
</script>
}

@ga()