@(gym: models.ui.Gym, isAdmin: Boolean)(implicit lang: Lang)

@import controls.color
@import controls.categories

@common(gym.name + " climbing", "Current climbing routes and boulders at the " + gym.name + " indoor climbing gym.",
    lang, gymName = Some(gym.name), gymHandle = Some(gym.handle)) {
<div id="gym" itemscope itemtype="http://schema.org/ExerciseGym">
    <div class="container">
        <h1 itemprop="name">@gym.name</h1>
        <div id="gymurl">
            <a href="@gym.url" target="_blank" itemprop="url">@gym.url</a>
        </div>
        <div id="gymaddress" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">@gym.address.street</span>,
            <span itemprop="addressLocality">@gym.address.city</span>,
            <span itemprop="addressCountry">@gym.address.country</span>
        </div>
        @if(isAdmin) {
        <a href="/climbing/@gym.handle/new">
            <button id="addnewroute" type="button" class="btn btn-default">
                @Messages("views.gym.index.addNewButton")
            </button>
        </a>
        }
    </div>
    @for(grade <- gym.grades) {
    <div class="container" style="margin-top: 20px;">
        <h2>@grade</h2>
        <div id="routes">
            @for(route <- gym.routes(grade.id)) {
            <a href="/climbing/@gym.handle/@route.d.id" class="route">
                <div class="routerow">
                    @color(route.color)
                    <div class="routedesc">
                        @route.atLocation
                        <span class="routenote">
                            @route.d.note (@route.days @Messages("views.gym.index.days"))
                        </span>
                        @categories(route.categories, route.days)
                    </div>
                </div>
            </a>
            }
        </div>
    </div>
    }
</div>
}

@ga()