.holdColors {
  .ie7-inline-block();
  padding: 0;
  height: 40px;
  width: 40px;
  border: 1px solid @btnBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  border-bottom-color: darken(@btnBorder, 10%);
  .border-radius(@baseBorderRadius);
  .ie7-restore-left-whitespace(); // Give IE7 some love
  cursor: pointer;
}