@import "global.less";
@import "controls/button.less";

//===================================================================
// Common
//=================================================================== 

html {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: @theme-color3;
	color: @theme-color;
	font-family: proxima-nova, 'helvetica neue', helvetica, arial, geneva, sans-serif;
	font-size: 18px;
}

//===================================================================
// Top
//===================================================================

@topButtonBackgroundColor: @theme-color5;

#top {
	width: 100%;
	height: 50px;
	background-color: @theme-color5;	
}

.topButton:hover {
	background-color: lighten(@topButtonBackgroundColor, 10%);
}

.topButton {
	.button_margin(20px, 50px);
	float: right;
}

