@import "bootstrap.less";
@import "bootstrap-override.less";
@import "controls/_controls.less";
@import "pages/_index.less";

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url('fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url('fonts/Montserrat-Bold.ttf');
}

#footer {
    padding: 10px 0px 20px 0px;

    a:link, a:visited {
        color: #FFF;
    }
}

#newroute {
    h1 {
        margin-bottom: 20px;
    }

    #tags {
        button {
            margin-right: 10px;
        }

        button.active {
            background-color: #FF7777;
        }
    }
}