@(title: String, styles: Html = Html(""), scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html lang="en" ng-app="jugjane">
    <head>
  		<meta charset="utf-8">
        <title>Jugjane</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="Boulder Builder">
	    <meta name="author" content="Rado Buransky">
    
        <!-- Styles -->
    	<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>       
        @styles
        
        <!--[if lt IE 9]>
			<script src="@routes.Assets.at("javascripts/html5shiv.js")"></script>
		<![endif]-->        
        
        <!--
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">-->       
        <link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
    </head>
    <body>
    	@content
    	
    	<!-- Scripts at the end so that the content loads faster -->
        <script src="@routes.Assets.at("javascripts/angular.min.js")" ></script>
        <script src="@routes.Assets.at("javascripts/jquery-2.0.2.min.js")" ></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" ></script>
        <script src="@routes.Assets.at("javascripts/angular/app.js")" ></script>
        <script src="@routes.Assets.at("javascripts/angular/controllers.js")" ></script>
        <script src="@routes.Assets.at("javascripts/upload/angular-file-upload.min.js")" ></script>
        @scripts
    </body>
</html>
