@import views.html.controls.toolbar._

@scripts = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/editor.css")" />
        
    <script src="@routes.Assets.at("javascripts/paper.js")"></script>		
    <script src="@routes.Assets.at("javascripts/jquery.mousewheel.js")"></script>           
        	
	<script src="@routes.Assets.at("javascripts/utils/Browser.js")"></script>
	
	<script src="@routes.Assets.at("javascripts/controls/PaperPhotoViewer.js")"></script>
	<script src="@routes.Assets.at("javascripts/controls/SimpleBoulderViewer.js")"></script>
	<script src="@routes.Assets.at("javascripts/controls/BoulderEditorToolbar.js")"></script>	
	<script src="@routes.Assets.at("javascripts/controls/BoulderEditor.js")"></script>
	
	<script src="@routes.Assets.at("javascripts/pages/Editor.js")"></script>
}

@core("Editor", scripts) {
	
	<img id="photo" src="@routes.Assets.at("images/pd.jpeg")" style="display: none" />
	<canvas id="viewer"></canvas>
	<div id="toolbar">
		<div id="draw" class="toolbar_line">
			@button("Draw", "toolbar_draw")
			@button("Erase", "toolbar_erase")
		</div>
		<div id="zoom" class="toolbar_line">
			@button("Fit", "zoomfit")
			@button("+", "zoomplus")
			@button("-", "zoomminus")
		</div>
	</div>
}