@(content: Html)

<!DOCTYPE html>

<html lang="en" ng-app>
    <head>
  		<meta charset="utf-8">
        <title>Boulder Builder</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/raphael-min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery-2.0.2.min.js")"></script>
        
        <script src="@routes.Assets.at("javascripts/bldr-ui.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/PhotoViewer.js")" type="text/javascript"></script>
    </head>
    <body> 
    	<div id="main">
    		<div id="header"/> 
    			<h1>Boulder Builder</h1>
    		</div>
    		<div id="photoEditor">
        		<script src="@routes.Assets.at("javascripts/Editor.js")"></script>
    		</div>
    	</div>    	
    	<div id="toolbar"></div>
    </body>
</html>
